# ─── Sistema operacional ─────────────────────────────────────────────────────
.DS_Store
Thumbs.db
desktop.ini

# ─── Editores / IDEs ──────────────────────────────────────────────────────────
.vscode/*
!.vscode/extensions.json
.idea/
.nova/
*.suo
*.sw?

# ─── Logs ─────────────────────────────────────────────────────────────────────
*.log
logs/
